extends ../layouts/page.pug

block content

  h1 New Course

  form(action='/courses' method='post')

    div.mb-3
      label.form-label Title

      input.form-control(
        type='text'
        name='titulo'
        required
      )

    div.mb-3
      label.form-label Description

      textarea.form-control(
        name='descripcion'
        rows='4'
        required
      )

    button.btn.btn-primary(type='submit')
      Create Course